#home {
    width: 100%;
    height: 90vh;
    background-color: #FF3CAC;
    background-image: linear-gradient(315deg, #784BA0 15%, #2B86C5 100%);
       
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Raleway', sans-serif;
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 800px){
    #home {
        font-size: 3.5vw;
    }
}


