#projects {
    color: #9aa1a6;
    padding: 120px 0;
}

.box {
    width: 80vw;
    height: auto;
    margin: 30px;
    padding: 40px 20px;
    background-color: #1b1d30;
    display: grid;
    grid-template-columns: 30% 20px auto;
    grid-template-rows: repeat(3, auto) 40px auto;
    grid-template-areas: 
    "pic . title"
    "pic . des"
    "pic . h4"
    "pic . tech"
    "pic . link";
}
#projects h2 {
    text-align: center;
}

.project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-items img {
    width: 100%;
    height: auto;
    grid-area: pic;
    align-self: center;
}

.project-title {
    grid-area: title;
    text-align: center;
    font-size: 1.1em;
    color: #83b4c9;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
.project-description {
    grid-area: des;
    align-self: center;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}
.project-links {
    grid-area: link;
    align-self: end;
    margin-top: 50px;
}
.technology {
    grid-area: tech;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#projects h4{
    grid-area: h4;
    align-self: end;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.tech-items{
    background-color: #e6874c;
    color: black;
    margin:10px;
    padding: 5px 10px;
    border-radius: 25px;
    letter-spacing: 2px;
}

.project-links a {
    text-decoration: none;
    color: #2ba2e7;
}

.project-links:hover a {
    text-decoration: underline;
}


@media screen and (max-width: 1150px){
    .box {
        display: flex;
        flex-direction: column;
    }
    #projects h4 {
        margin-top: 20px;
    }
    .project-links{
        margin-top: 30px;
    }
    .project-items img {
        width: 70%;
        height: auto;
        margin: 25px 0;
    }
}

@media screen and (max-width: 850px){
    .project-items img {
        width: 95%;
        height: auto;
        margin: 25px 0;
    }
}