#projects {
    color: #9aa1a6;
    padding: 120px 0;
}

.box {
    width: 80vw;
    height: auto;
    margin: 30px;
    padding: 40px 20px;
    background-color: #1b1d30;
    display: grid;
    grid-template-columns: 1fr 20px auto;
    grid-template-rows: repeat(3, auto) 40px auto;
    grid-template-areas: 
    "pic . title"
    "pic . des"
    "pic . h4"
    "pic . tech"
    "pic . link";
}
#projects h2 {
    text-align: center;
}

.project-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-items img {
    width: 350px;
    height: 200px;
    margin: 30px 20px;
    grid-area: pic;
    align-self: center;
}

.project-title {
    grid-area: title;
    text-align: center;
}
.project-description {
    grid-area: des;
    align-self: center;
}
.project-links {
    grid-area: link;
    align-self: end;
}
.technology {
    grid-area: tech;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#projects h4{
    grid-area: h4;
    align-self: end;
}
.tech-items{
    background-color: #e6874c;
    color: black;
    margin:10px;
    padding: 5px 10px;
    border-radius: 25px;
}

@media screen and (max-width: 1150px){
    .box {
        display: flex;
        flex-direction: column;
    }
    #projects h4 {
        margin-top: 20px;
    }
    .project-links{
        margin-top: 30px;
    }
}